[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"

[requires]
python_version = "3.6"
